.uw-network-alerts-uptime-calculation {
  font-family: 'Typ1451-Medium,verdana,sans-serif';
  font-size: 0.88889rem;
  text-align: center;
}

.uw-network-alerts-timeline text {
  font-family: Typ1451-Medium,verdana,sans-serif;
}

.bar.Maintenance {
  fill: #FF9A00;
}

.bar.Incident {
  fill: red;
}

.bar.Up {
  fill: #017500;
}

.tooltip{
      position      : absolute;
      text-align    : center;
      max-width     : 7rem;
      min-width: 6rem;
      max-height    : 4rem;
      min-height: 2rem;
      padding       : 0.2rem;
      border        : none;
      border-radius : 0.4rem;
      margin-top    : -30px;
      font          : 10px sans-serif;
      background    : black;
      color         : white;
      pointer-events: none;
      line-height: 0.8rem;
  }

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#csvdata {
  display: none;
}

.y.axis path {
  display: none;
}

.uw-network-alerts-timeline-wrapper {
  padding-bottom: 1rem;
}

.uw-network-alerts-operational-status {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 1rem;
  font-family: 'Typ1451-Medium,verdana,sans-serif';
  font-size: 0.88889rem;
}

.uw-network-alerts-operational-status .Operational {
  color: #017500;
  font-weight: bold;
}

.uw-network-alerts-operational-status .Incident {
  color: red;
  font-weight: bold;
}

.uw-network-alerts-operational-status .Maintenance {
  color: #FF9A00;
  font-weight: bold;
}

.uw-network-alerts-list .uw-network-alerts-timeline-wrapper {
  margin-bottom: 4rem;
}

.uw-network-alerts-timeline-wrapper,
.uw-network-alerts-fieldset {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  clear: both;
}

.uw-network-alerts-uptime {
  margin-bottom: 5rem;
}

.uw-network-alerts-uptime-with-link {
  margin-bottom: 1.5rem;
}

.uw-network-alerts-uptimes a:active,
.uw-network-alerts-uptimes a:link {
  text-decoration: none;
}

.uw-network-alerts-uptimes ul.uw-network-alerts-services__contact-one-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.uw-network-alerts-uptimes .uw-network-alerts-services__contact-one-item li{
  float: left;
  width: 100%;
}
