/* Remove extra spacing and list bullets from dashboard. */
ul.uw_network_alerts_dashboard {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.uw_network_alerts_dashboard > li {
  margin: 0;
}

.block-uw-network-alerts .item-list ul li a {
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  font-weight: 400;
}

.block-uw-network-alerts .network-alerts-title-wrapper {
  position: relative;
}

.block-uw-network-alerts .network-alerts-title {
  position: relative;
  width: 100%;
}

.block-uw-network-alerts .all-services-up {
  float: left;
}

.block-uw-network-alerts .all-services-up:after {
  margin: auto;
  position: absolute;
  top: 50%;
  padding-right: 1.5rem;
  right: 0;
  transform: translateY(-50%);
  content: '\2714';
  color: green;
  float: left;
}

.js .network-alerts-wrapper {
  display: none;
}

.network-alerts-wrapper {
  color: black;
  border-bottom: 4px solid black;
}

.network-alerts-wrapper .downed-items__title {
  width: 100%;
  background-color: #eee;
  color: white;
  padding: 0.1rem;
}

.network-alerts-wrapper .downed-items__title h3 {
  padding-left: 0.4rem;
}

.network-alerts-wrapper .maint-items__title {
  width: 100%;
  background-color: #eee;
  color: white;
  padding: 0.1rem;
}

.network-alerts-wrapper .maint-items__title h3 {
  padding-left: 0.4rem;
}

body.org_default .network-alerts-wrapper a:link {
  color: black;
}

body.org_default .network-alerts-wrapper a:visited {
  color: black;
}

body.org_default .network-alerts-wrapper ul a {
  color: black;
}

.network-alerts-title-wrapper .network-alerts-title {
  padding: 0.6rem 0.1rem 0.5rem 0.6rem;
  margin-bottom: 0.2rem;
}

.network-alerts-title-wrapper.all-services .network-alerts-title {
  padding: 0.6rem 0.1rem 0.5rem 0.6rem;
  margin: 0;
}

.network-alerts-title {
  background-color: #FDD54F;  
  margin-right: 0.2rem;
}

.block-uw-network-alerts h2 {
  margin: 0;
  text-transform: uppercase;  
  color: black;
}

.block-uw-network-alerts ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.block-uw-network-alerts li {
  margin: 0;
  display: table;
}

.block-uw-network-alerts .downed-items__list li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.block-uw-network-alerts .maint-items__list li {
  padding-top: 0.2em;
}

.block-uw-network-alerts .maint-items__list .network-alert-link-wrapper {
  padding-top: 0.3em;
}

.block-uw-network-alerts .network-alert-link-wrapper {
  display: table;
  vertical-align: middle;
  padding-left: 0.5em;
}

.block-uw-network-alerts .downed-items .network-alert-link-wrapper {
  padding-top: 0.2rem;
}

.block-uw-network-alerts .network-alert-link-wrapper .network-alert-link-icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5rem;
}

.block-uw-network-alerts .network-alert-link-wrapper .network-alert-link {
  display: table-cell;
}

.block-uw-network-alerts .maint-items .network-alert-link-wrapper .network-alert-link {
  padding-top: 0.2rem;
}

.block-uw-network-alerts .downed-items .network-alert-link-icon {
  color: red;
}

.block-uw-network-alerts .maint-items .network-alert-link-icon {
  font-weight: bold;
  color: orange;
  transform: scale(2, 4);
}

.uw-site-sidebar .block-uw-network-alerts ul {
  margin-left: 0;
  padding-left: 0;
}

.uw-network-alerts-list li {
  display: table;
}

.uw-network-alerts-list li:before {
  display: table-cell;
  vertical-align: middle;
}

.uw-network-alerts-list li .network-alert-link {
  display: table-cell;
}

.uw-network-alerts-list li.futuremaint:before,
.uw-network-alerts-list li.nonsvcmaint:before,
.uw-network-alerts-list li.degraded:before,
.uw-network-alerts-list li.maint:before {
  content: '-';
  text-align: center;
  padding-left: 0.6em;
  padding-right: 0.4em;
  font-weight: bold;
  color: orange;
  transform: scale(2, 4);
}

.uw-network-alerts-list li.futuremaint .network-alert-link,
.uw-network-alerts-list li.nonsvcmaint .network-alert-link,
.uw-network-alerts-list li.degraded .network-alert-link,
.uw-network-alerts-list li.maint .network-alert-link {
  padding-left: 0.5em;
}

/* Custom icons and colors for each service status on dashboard. */
ul.uw-network-alerts-services__dashboard > li.up:before {
  min-width: 2em;
  text-align: center;
  padding: 0.2em 0;
  color: green;
}

.uw-network-alerts-list table th.starttime {
  width: 25%;
}

.uw-network-alerts-list table th.service {
  width: 25%;
}

.uw-network-alerts-list table th.alerttype {
  width: 15%;
}

.uw-network-alerts-list table th.description {
  width: 35%;
}

.uw-network-alerts-list .container-inline-date .form-item .description {
  display: none;
}

.uw-network-alerts-list .uw-network-alerts-filters .form-item-start-date {
  width: inherit;
}

.uw-network-alerts-list .uw-network-alerts-filters select {
  width: inherit;
  padding-right: 0.5rem;
  margin-bottom: 0;
}

.uw-network-alerts-filters > legend {
  margin-bottom: 0;
}

.uw-network-alerts-filters .uw-network-alerts-filters__wrapper {
  display: block;
  width: 100%;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range {
  display: block;
  width: 100%;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range > legend {
  margin-bottom: 0.2rem;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range > .fieldset-wrapper {
  display: flex;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range > .fieldset-wrapper div {
  flex: 1 auto;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range .form-item-start fieldset legend,
.uw-network-alerts-filters .uw-network-alerts-filters__date-range .form-item-end fieldset legend{
  float: left;
  margin-top: -0.5rem;
  padding-right: 0.5rem;
}

.uw-network-alerts-filters .uw-network-alerts-filters__date-range .form-item-start-date input {
  width: 100%;
}

.uw-network-alerts-filters .uw-network-alerts-filters__filter-area {
  width: 100%;
  display: flex;
  padding-right: 1rem;
}

.uw-network-alerts-filters .uw-network-alerts-filters__filter-area .form-type-select {
  padding-right: 1rem;
}

.uw-network-alerts-filters .uw-network-alerts-filters__filter-area div {
  flex: 1 auto;
  margin: 0;
}

.uw-network-alerts-filters .uw-network-alerts-filters__filter-area  label {
  margin-top: 0;
  margin-bottom: 0;
}

.uw-network-alerts-filters .uw-network-alerts-filters__filter-area input {
  flex: 1 auto;
  font-size: .79012rem;
  border: 0 solid transparent;
  width: auto;
  max-height: 50px;
  margin-left: 0.5rem;
}

ul.uw-network-alerts-services__dashboard {
  column-count: 3;
  column-gap: 20px;
}

ul.uw-network-alerts-services__dashboard li {
  break-inside: avoid-column;
}

ul.uw-network-alerts-services__dashboard > li.up:before {
  content: '\2714';
}

ul.uw-network-alerts-services__dashboard > li.down:before {
  content: '\2716';
  color: red;
}

.uw-network-alerts-list ul,
.uw-network-alerts-services ul{
  list-style-type: none;
  padding-left: 0;
}

.uw-network-alerts-list table th.active {
  background: #757575;
}

.uw-network-alerts-list table th {
  position: relative;
}

.uw-network-alerts-list table th a {
  color: #000;
  text-decoration: none;
  font-size: inherit;
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
}

.uw-network-alerts-list table th a:hover {
  color: black;
  text-decoration: underline;
}

.uw-network-alerts-list table th {
  font-style: normal;
  color: #000;
  text-decoration: none;
  font-size: inherit;
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
}

.uw-network-alerts-list table th.active a {
  color: #fff;
}

.uw-network-alerts-list table th a::before {
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000;
  right: .2rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.uw-network-alerts-list table {
  font-size: 0.88889rem;
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
}
.uw-network-alerts-list table th a::after {
  border-top: 7px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  right: .2rem;
  bottom: .7rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.uw-network-alerts-list table th.active a.desc::before {
  display: none;
}

.uw-network-alerts-list table th.active a.desc::after {
  top: 0.8rem;
  border-top: 7px solid #fff;
}

.uw-network-alerts-list table th.active a.asc::before {
  top: 0.8rem;
  border-bottom: 7px solid #fff;
}

.uw-network-alerts-list table th.active a.asc::after {
  display: none;
}

.uw-network-alerts-list ul.uw-network-alerts-services__contact-one-item {
  margin: 0;
  padding: 0;
}

.uw-network-alerts-list .uw-network-alerts-services__contact li{
  float: left;
  width: 33%;
}

@media only screen and (max-width: 455px){
  .uw-network-alerts-list .uw-network-alerts-services__contact li{
     width: 100%;
  }
}

a.status-all-services {
  display: block;
  background-color: black;
  width: 100%;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  font-family: Typ1451-Medium,verdana,sans-serif;
  font-weight: bold;
}

body.org_default .network-alerts-wrapper a.status-all-services:hover,
body.org_default .network-alerts-wrapper a.status-all-services:visited:hover {
  background-color: #FDD54F;
  color: black;
}

body.org_default .network-alerts-wrapper a.status-all-services,
body.org_default .network-alerts-wrapper a.status-all-services:visited {
  color: white;
  text-decoration: none;
}

.uw-network-alerts-timeline-no-display {
  font-family: 'Typ1451-Medium,verdana,sans-serif';
  font-size: 0.88889rem;
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  padding: 1rem;
}
